
*.meta
Platformer/Library/LastSceneManagerSetup.txt
Platformer/Assets/Scenes/Level One.unity
Platformer/Assets/Scenes/Level One.unity
Platformer/Assets/Scenes/Level Two.unity
Platformer/Assets/Scenes/Level One.unity
*.unity
Platformer/Assets/Scenes/Level One.unity
Platformer/Assets/Scenes/Level Two.unity
*.unity
Platformer/Library/CurrentLayout.dwlt
Platformer/Library/LastSceneManagerSetup.txt
Platformer/Library/shadercompiler-UnityShaderCompiler.exe0.log
Platformer/Assets/Scenes/Level One.unity
